.button {
    width: 240px;
    text-decoration: none;
    color: white;
    font-size: 32px;

    display: flex;
    align-items: center;
    gap: 1rem;

    background-color: #FF0080;
    padding: .5rem 1rem;
    border-radius: 5px;

    transition: .2s;
}

.button:hover {
    background-color: #c00060;
}