@use "../Styles/mixins";

.mainTechnologies {
    @include mixins.section;
    background: linear-gradient(45deg, #6e34af, #49108B);
    padding: 0 5rem;
    display: flex;
    flex-direction: column;
    align-items: start;

    .title {
        font-size: 90px;
        padding-top: 100px;
        .title-second {
            margin-top: -100px;
        }
    }

    ul {
        align-self: center;
        margin-top: 5rem;
        max-width: 700px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        list-style: none;
        gap: 2rem 0;

        li {
            color: white;
            width: 150px;
            font-size: 32px;
            text-align: center;

            i {
                font-size: 70px;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .mainTechnologies {
        padding: 0 2rem;
        align-items: center;
        .title {
            font-size: 32px;
    
            .title-second {
                margin-top: -36px;
            }
        }
        ul {
            padding: 0;
            gap: 2rem 0;

            li {
                i {
                    font-size: 48px;
                }
            }
        }
    }
}