@use "../Styles/themes";

.title {
    font-size: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: italic;

    .title-first {
        text-transform: uppercase;
        color: white;
        font-family: sans-serif;
    }

    .title-second {
        margin-top: -117px;
        color: var(--main-color);
        font-weight: bold;
        font-family: "Verdana", sans-serif;
    }
}

@media screen and (max-width: 600px) {
    .title{
        font-size: 60px;
        .title-second{
            margin-top: -70px;
        }
    }
}