@use "../Styles/mixins";
@use "../Styles/themes";

.contact {
    @include mixins.section;
    background: linear-gradient(45deg, var(--gradient-color), var(--gradient-color-2));
    padding: 0 5rem;
    display: flex;
    flex-direction: column;
    align-items: start;

    .title {
        font-size: 90px;
        padding-top: 100px;
        .title-second {
            margin-top: -100px;
        }
    }
    
    .contact__links {
        margin-top: 5rem;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;

        .link {
            font-size: 24px;
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
        
            a {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;
                text-decoration: none;
        
                i {
                    color: white;
                    font-size: 100px;
                    transition: .2s;
                }
    
                i:hover {
                    color: #bbb;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .contact {
        padding: 0 2rem;
        align-items: center;

        .title {
            font-size: 32px;
    
            .title-second {
                margin-top: -36px;
            }
        }

        .contact__links {
            flex-wrap: wrap;
            justify-content: start;
            gap: 2rem;
            .link {
                flex-direction: row;
                a {
                    i {
                        color: white;
                        font-size: 50px;
                        transition: .2s;
                    }
                }
            }
        }
    }
}