:root {
    --gradient-aboutMe: #fff;
    --gradient-aboutMe-2: #fff;

    --gradient-color: #6e34af;
    --gradient-color-2: #49108B;
    --main-color: #FF0080;
    --main-color-hover: #c00060;

    --text-color: #000;
}

[data-theme='dark'] {
    --gradient-aboutMe: #29274c;
    --gradient-aboutMe-2: #0e0e1b;

    --gradient-color: #0F044C;
    --gradient-color-2: #010007;
    --main-color: #c00060;
    --main-color-hover: rgb(124, 25, 62);

    --text-color: #fff;
}