@use "../Styles/mixins";
@use "../Styles/themes";

.aboutMe {
    @include mixins.section;
    padding: 0 5rem;

    // background-color: var(--bg-aboutMe);
    background: linear-gradient(45deg, var(--gradient-aboutMe), var(--gradient-aboutMe-2));
    display: flex;
    flex-direction: column;
    align-items: start;

    color: var(--text-color);
    
    .title {
        font-size: 90px;
        padding-top: 100px;
        .title-first {
                text-transform: uppercase;
                color: var(--text-color);
                font-family: sans-serif;
        }
        .title-second {
            margin-top: -100px;
        }
    }
    
    .aboutMe__text {
        align-self: end;
        text-align: end;
        font-size: 42px;
        margin-top: 5rem;
    }

    .button {
        width: auto;
        margin-top: 7rem;
        align-self: center;
    }
}

@media screen and (max-width: 600px) {
    .aboutMe{
        padding: 0 2rem;
        align-items: center;
        .title {
            font-size: 32px;
    
            .title-second {
                margin-top: -36px;
            }
        }
        .aboutMe__text {
            text-align: start;
            font-size: 22px;
            margin-top: 5rem;
        }
    }
}
